/.idea/
/test-output/
/target/
/.gradle/
/logs/
*.iml
*/.DS_Store
.DS_Store
.sib/
/webview/
/plugins/sonic-go-mitmproxy-ca-cert.cer
/plugins/sonic-go-mitmproxy-ca-cert.pem
/plugins/sonic-go-mitmproxy-ca.pem